@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --color-primary: #5f6FFF;
}
body{
  font-family: "Roboto";
  scroll-behavior: smooth;
}
.rounded-custom {
  border-radius: 10px 10px 10px 200px;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.outlined-text {
    color: white;
    text-shadow:
      -2px -2px 0 rgb(30, 82, 252),
       2px -2px 0 rgb(30, 82, 252),
      -2px  2px 0 rgb(30, 82, 252),
       2px  2px 0 rgb(30, 82, 252);
}


